@import "./_alignment.scss", "./_typography.scss", "./_colors.scss";

body,
html {
    font: $font-family;
    height: 100%;
}

h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a,
a:visited {
    color: $blue;
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
}

.global-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0;
}

#github-button {
    display: inline;
    position: relative;
    top: 3px;
}

input::-ms-clear {
    display: none;
}

.padded {
    padding: $gutter;
}

.generic-ul {
    list-style: inside !important;
    margin: 0 !important;
    text-align: left;
    padding: $gutter;
    li {
        display: inline-block;
        text-align: left;
        display: list-item;
    }
}

.static-header {
    color: black;
    font-size: 2em;
}

.quotes-slider {
    padding-top: 20px !important;
}

.space-evenly {
    justify-content: space-evenly !important;
}

.has-default-cursor {
    cursor: default;
}

.is-fullwidth {
    width: 100%;
}

.drop-down {
    height: 29px;
    overflow: hidden;
    select {
        font-size: 18px;
        height: 29px;
        padding: 5px; /* If you add too much padding here, the options won't show in IE */
        width: 100%;
    }
}
